pkgbase = android-camera
	pkgdesc = Android camera.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/android-camera
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = android-activity-utils
	depends = libcrash-bash
	source = android-camera-ba85055499a1c5e1a01c0e81e24c4fd810f700c8.zip::https://github.com/themartiancompany/android-camera/archive/ba85055499a1c5e1a01c0e81e24c4fd810f700c8.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 42db072cfc5e57f2a1376f2c93ced9a0715be3abf61ab332be2ecc69d9f92e2d

pkgname = android-camera
